.neuBtn {
	background: linear-gradient(145deg, #2d3134, #3f454a);

	position: relative;
    box-shadow: 6px 6px 15px #24282a, -6px -6px 15px #3d4347;
}

.neuBtn::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: calc(100% + 3px);
	height: calc(100% + 3px);
	background: linear-gradient(145deg, #4f5559, #131517);
	border-radius: 50%;
	z-index: -1;
}

.neuBtn:not(:disabled):active {
	background: linear-gradient(145deg, #272a2e, #3a4147);
	box-shadow: 4px 4px 9px #24282b, -4px -4px 9px #30363a;
}

.glow {
	filter: drop-shadow(0 0 5px var(--primary));
}

.glow:active {
	filter: unset;
}
