---
import '@fontsource/open-sans'
import '@fontsource/inter'

export interface Props {
	title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="font-sans h-screen">
		<style is:global>
			.neuBtn {
				background: linear-gradient(145deg, #32383b, #2a2f32);
				box-shadow: 8px 8px 15px #24282a, -8px -8px 15px #3a4044;
			}

			.neuBtn:active {
				background: linear-gradient(145deg, #2a2f32, #32383b);
				box-shadow: 8px 8px 15px #24282a, -8px -8px 15px #3a4044;
			}

			.unsetFilterClick:active {
				filter: unset;
			}
		</style>
		<slot />
	</body>
</html>
